body {
  margin: 0;
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 72px;
  margin: 0;
  position: absolute;
  top: -30px;
  transition: 1s;
}

h1:hover {
  cursor: pointer;
}

#top-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  position: relative;
}

img {
  height: 200px;
  justify-content: center;
  align-items: center;
}

#part1 {
  color: rgb(73, 110, 179);
}

#part2 {
  color: rgb(102, 132, 187);
}

#add,
#filter {
  display: flex;
  justify-content: center;
}

#filter {
  padding-top: 3vh;
}

button {
  margin-left: 1vh;
  border-style: double;
}

.search {
  margin-right: 2vh;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#headlines {
  margin-top: 8vh;
  margin-bottom: 2vh;
  margin-left: 3.5vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 600px;
  font-family: 'Courier New', Courier, monospace;
}

#headlines div {
  color: rgb(73, 110, 179);
  border-bottom: 1px solid rgb(102, 132, 187);
  padding-bottom: 1vh;
}

.city {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 600px;
  margin-right: 1vh;
}
.city div {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 3vh;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.city li {
  font-family: 'Encode Sans Condensed', sans-serif;
}

.city button {
  margin-bottom: 3vh;
  margin-right: 2vh;
}

button {
  background-color: rgba(102, 132, 187, 0.363);
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 900;
  color: rgb(39, 51, 73);
  transition: 0.5s;
}

#results {
  background-color: rgba(73, 110, 179, 0.233);
  border-radius: 20px;
}

.city:first-child {
  padding-top: 3vh;
}

.search,
#add-btn {
  padding: 0.5vh;
  margin-left: 0;
}

#reset-filters {
  margin-bottom: 0.7vh;
}

button:hover {
  background-color: rgba(59, 78, 114, 0.63);
  cursor: pointer;
}

.search {
  background-color: rgba(102, 132, 187, 0.199);
}

input {
  font-family: 'Courier New', Courier, monospace;
  margin: 1vh;
}
